<form method="post" action="/books">
  <label for="mood">Choose mood:</label>
  <select id="mood" name="mood">
    <option value="Adventurous">Adventurous</option>
    <option value="Escapism">Escapism</option>
    <option value="Hungry">Hungry</option>
    <option value="Romantic">Romantic</option>
  </select>
  <button>Submit</button>
</form>